{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>{{ subtitle }}</p>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="col">
            <h1>
                This is Register Page
            </h1>
        </div>
    </div>
</div>

{% endblock %}